#mainProjets {
    background: linear-gradient(to left, #0c3038, #114550, #165664);
    color: #cb9312;
    text-shadow: 1px 1px #333333; 
    width: 100%;
    padding-bottom: 2%;

    h1 {
        margin: 0;
        padding: 40px 0 ;
        text-align: center;
        background: linear-gradient(to left, #33474b, #a1bdc3, #33474b);
        border-top: #456166 1px solid;
        border-bottom: #456166 1px solid;

    }

    .article {

        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            padding-top: 5%;

            @media (min-width: 1200px) {
                padding: 7% 0 4% 0;

                &#first{
                    padding: 2% 0 5% 0;
                }
            }

            @media (min-width: 992px) {
                font-size: 1.6em;
            }
        }

        div {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            gap: 2%;
            padding: 0 2%;
            box-sizing: border-box;

            @media (max-width: 768px) {
                flex-direction: column;

                &.toTop {
                    flex-direction: column-reverse;
                }
            }
            
            .paragraphe {
                width: 70%;
                display: flex;
                flex-direction: column;
                text-align: justify;
                font-size: larger;
                background: linear-gradient(to left, #33474b, #a1bdc3, #33474b);
                border-radius: 250px;
                padding: 4% 7.5%;

                @media (max-width: 1200px) {
                    padding: 7%;
                }

                @media (max-width: 992px) {
                width: 60%;
                padding: 4% 8%;
                border-radius: 150px;
                }

                @media (max-width: 768px) {
                    width: 100%;
                    box-sizing: border-box;                    
                }

                @media (max-width: 600px) {
                    border-radius: 50px;
                }

                a {
                    text-decoration: none;
                    border: none;
                    color: #456166;
                    
                    &.top,&.middle {
                        padding-bottom: 2px;
                        margin-bottom: 3px;
                        border-bottom: #456166 solid 1px;
                    }
                }

            }
            
            .pictures {
                width: 30%;
                height: auto;

                @media (min-width: 992px) {
                    width: 40%;
                }

                @media (max-width: 768px) {
                    width: 100%;
                }

                img {
                    width: 100%;
                    border: #a1bdc3 solid 0.2em;

                    border-radius: 110px;
                    padding: 0;
                    margin: 0;

                }
            }
        }  
        
        #last {
            width: 70%;
            display: flex;
            flex-direction: column;
            text-align: justify;
            font-size: larger;
            background: linear-gradient(to left, #33474b, #a1bdc3, #33474b);
            border-radius: 250px;
            padding: 4% 7.5%;

            @media (max-width: 1200px) {
                padding: 7%;
            }

            @media (max-width: 992px) {
            width: 70%;
            padding: 4% 8%;
            border-radius: 150px;
            }

            @media (max-width: 768px) {
                width: 100%;
                box-sizing: border-box;                    
            }

            @media (max-width: 600px) {
                border-radius: 50px;
            }
        }
    }




}
