#mainHomePage{

    width: 100%;

    #h1{

        text-align: center;
        background: linear-gradient(20deg, #33474b, #a1bdc3);
        color: #cb9312;
        text-shadow: 0px 0.5px #333333;
        
        @media (max-width: 992px) {
            margin: 0;
            padding: 6px auto;
        }
    
        @media (min-width: 992.1px) {
            margin: 0;
            padding: 40px 0;
        }
    }

    #top{

        display: flex;
        width: 100%;
        background: linear-gradient(to left, #0c3038, #114550, #165664);
        padding-top: 1%;
        border-top: #456166 2px solid;
        border-bottom: #456166 2px solid;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }

        #left {

            display: flex;
            width: 55%;
            flex-direction: row;
            justify-content: end;
            align-items: end;
            gap: 15%;

            @media (max-width: 992px) {
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                gap: 1%;
                text-align: center;
            }

            @media (min-width: 992.1px) and (max-width: 1200px) {
                justify-content: space-around;
                gap: 10%;
                text-align: center;
            }
            

            #experience {

                font-size: 10em;
                background-color: rgba($color: #000000, $alpha: 0);
                color: #cb9312;
                border: none;
                cursor: pointer;
                text-decoration: none;

                @media (max-width: 992px) {
                    font-size: 1em;
                }

                @media (min-width: 992.1px) and (max-width: 1200px) {
                    font-size: 7em;
                }

                &:hover{
                    p{

                        @media (min-width: 992.1px) and (max-width: 1200px) {
                            display: flex;
                            font-size: large;                        }

                        @media (min-width: 1200.1px) {
                            display: flex;
                            font-size: x-large;
                        }
                    }
                }
            }

            #skills {

                font-size:10em;
                background-color: rgba($color: #000000, $alpha: 0);
                color: #cb9312;
                border: none;
                cursor: pointer;
                text-decoration: none;

                @media (max-width: 992px) {
                    font-size: 1em;
                }

                @media (min-width: 992.1px) and (max-width: 1200px) {
                    font-size:7em;
                }

                &:hover{
                    p{
                        
                        @media (min-width: 992.1px) and (max-width: 1200px) {
                            display: flex;
                            font-size: large;                        }

                        @media (min-width: 1200.1px) {
                            display: flex;
                            font-size: x-large;
                        }
                    }
                }
            }

            #contact {
                font-size: 10em;
                background-color: rgba($color: #000000, $alpha: 0);
                color: #cb9312;
                border: none;
                cursor: pointer;
                text-decoration: none;

                @media (max-width: 992px) {
                    font-size: 1em;
                }

                @media (min-width: 992.1px) and (max-width: 1200px) {
                    font-size: 7em;
                }

                &:hover{
                    p{

                        font-size: 1em;

                        @media (min-width: 992.1px) and (max-width: 1200px) {
                            display: flex;
                            font-size: large;                        }

                        @media (min-width: 1200.1px) {
                            display: flex;
                            font-size: x-large;
                        }
                    }
                }
            }
            p {

                @media (min-width: 992.1px) {
                    display:none;
                }
            }
        }

        #right {
    
            width: 42%;

            @media (max-width: 992.1px) {
                width: 65%;
                
            }
            
            img {
                width: 100%;   

                @media (max-width: 992px) {

                    clip-path: inset(0 5% 0 60%);

                }
            }    
        }
    }
         
}

    #bottom {

        background: linear-gradient(160deg, #33474b, #a1bdc3);
        color: #cb9312;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        p {
            width: 100%;
            font-size: larger;      
            text-shadow: 1px 1px #333333;    
            
        }     
        
        div {

            a {
                font-size: 40px;
                background-color: rgba($color: #000000, $alpha: 0);
                color: #cb9312;
                cursor: pointer;
            }
        }
    }
