#mainLoader {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to left, #0c3038, #114550, #0c3038);

    h1 {
        margin: 0;
        color: #cb9312;
        border: #cb9312 2px solid;
        padding: 5%;
        border-radius: 50%;
        animation: mouv 2s linear forwards;
        text-align: center;

        @media(min-width: 600.1px) {
            @keyframes mouv {
                0% {
                    transform: translateX(0);
                }
                33% {
                    transform: translateX(60px);
                }
                66% {
                    transform: translateX(-60px);
                }
                100% {
                    transform: translateX(0);
                }
            }
        }
        @media(max-width: 600px) {
            @keyframes mouv {
                0% {
                    transform: rotate(0);
                }
                33% {
                    transform: rotate(18deg);
                }
                66% {
                    transform: rotate(-18deg);
                }
                100% {
                    transform: rotate(0);
                }
            }
        }
    }

}