body {
  margin: 0;

  #root {
    width: auto;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
    @media (min-width: 1200.1px) {
      background: linear-gradient(to right, #4e6469, #a1bdc3);
    }
    @media (max-width: 1200px) {
      background: linear-gradient(to right, #5a7176, #a1bdc3);
    }
    @media (max-width: 992px) {
      background: linear-gradient(to right, #62797e, #a1bdc3);
    }
    @media (max-width: 600px) {
      background: linear-gradient(to right, #81999e, #a1bdc3);
    }
  }
}