#navBar {
    @media (min-width: 600px) {
        background: linear-gradient(to left, #0c3038, #114550, #165664);
        display: flex;
        padding: 1% 0 1% 0;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        gap: 5%;

        #accueil {
            cursor: pointer;
            color: #cb9312;
            text-decoration: none;


        }
        #experience {
            cursor: pointer;
            color: #cb9312;
            text-decoration: none;


        }

        #skills {
            cursor: pointer;
            color: #cb9312;
            text-decoration: none;


        }

        #contact {
            cursor: pointer;
            color: #cb9312;
            text-decoration: none;

            padding-right: 2%;

        }
    }
    
    @media (max-width:599.9px) {
            display: none;
    }
}